<!DOCTYPE html>
<html>
  <head>
    <title>Workouts for {{ name }}</title>
  </head>
  <body>
    <h1>🏋️ Workouts for {{ name }}</h1>
    <table border="1" cellpadding="5">
      <tr>
        <th>Date</th>
        <th>Workout Type</th>
        <th>Duration (min)</th>
        <th>Calories</th>
      </tr>
      {% for w in workouts %}
      <tr>
        <td>{{ w[0] }}</td>
        <td>{{ w[1] }}</td>
        <td>{{ w[2] }}</td>
        <td>{{ w[3] }}</td>
      </tr>
      {% endfor %}
    </table>
    <p><a href="/">Back to Home</a></p>
  </body>
</html>
